version: "3.8"
services:
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=master
      - MONGO_INITDB_ROOT_PASSWORD=master1234
      - MONGO_INITDB_DATABASE=kuznechik

  web:
    container_name: web
    build: .
    ports:
      - 3000:3000
    restart: always
    depends_on:
      - mongo





